@import '../../../mixins/breakpoints.scss';

@include for-size(phone-only) {
  @import './scss/phone.scss';
}

@include for-size(tablet-portrait-up) {
  @import './scss/tablet-portrait.scss';
}

@include for-size(tablet-landscape-up) {
  @import './scss/tablet-landscape.scss';
}

@include for-size(desktop-up) {
  @import './scss/desktop.scss';
}

@include for-size(big-desktop-up) {
  @import './scss/big-desktop.scss';
}

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

textarea {
  display: block;
  resize: none;
  height: 20ch;
  width: 100%;
  box-sizing: border-box;
}

.control-btns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  .bold {
    font-weight: bolder;
  }
  .italics {
    font-style: italic;
  }
}
