:host {
  display: flex;
  background: rgba(75, 75, 75, 0.5);
  flex-direction: column;
  align-items: center;
  padding: 0 5vw;
  height: 100%;
}

form {
  width: 50%;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

textarea, input[type="text"] {
  display: block;
  resize: none;
  width: 100%;
}
