<form [formGroup]="post" (ngSubmit)="onSubmit()" #form>
  <label>Title: <input type="text" formControlName="title"></label>
  <label>Content: <textarea name="" id="" cols="30" rows="10" formControlName="content"></textarea></label>
  <label>Unsuitable for children <input type="checkbox" formControlName="isNSFW"></label>
  <app-upload formControlName="image"></app-upload>
  <button type="submit">Send</button>
</form>
<progress *ngIf="progress" [value]="progress || 0" max="100"></progress>
<div class="error" *ngIf="error">
  <p>{{ error }}</p>
  <button (click)="closeError()">Close</button>
</div>
<div class="preview">
  <h1>{{ post.value.title }}</h1>
  <div class="content" [innerHTML]="post.value.content | markdown"></div>
</div>
<div class="posts" *ngIf="posts">
  <app-post *ngFor="let post of posts | async" [post]="post"></app-post>
</div>
