<app-image [fullimg]="img" [thumbnail]="thumb" [desc]="content.content" [nsfw]="content.isNSFW" *ngIf="thumb"></app-image>
<div *ngIf="!isEdit" class="content" [innerHTML]="content.content | markdown"></div>
<form [formGroup]="postEdit" (ngSubmit)="onSubmitEdit()" *ngIf="isEdit" class="edit-post">
  <app-wysiwyg formControlName="content"></app-wysiwyg>
  <button type="submit">Submit edit</button>
</form>
<div class="bottom">
  <app-badge [img]="content.userData.userPhoto" [link]="content.postedBy">{{ content.userData.userName }}</app-badge>
  <section class="buttons" *ngIf="content.postedBy == userUID">
    <button (click)="deleteComment()">Delete reply</button>
    <button (click)="toggleIsEdit()">Edit reply</button>
  </section>
</div>
