@import '../../../../../mixins/breakpoints.scss';
@import '../../../../../mixins/colorscheme.scss';

@include for-size(phone-only) {
  @import './scss/phone.scss';
}

@include for-size(tablet-portrait-up) {
  @import './scss/tablet-portrait.scss';
}

@include for-size(tablet-landscape-up) {
  @import './scss/tablet-landscape.scss';
}

@include for-size(desktop-up) {
  @import './scss/desktop.scss';
}

@include for-size(big-desktop-up) {
  @import './scss/big-desktop.scss';
}

:host {
  display: grid;
  box-sizing: border-box;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: auto 1fr 3fr;
  column-gap: 1vw;
  width: 100%;
  background: $replyBG;
  color: $replyFG;
  border-radius: 0.5vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 2vh 0;
  padding: 1vh 0.75vw;
}

.content ::ng-deep {
  display: block;
  box-sizing: border-box;
  grid-area: content;
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-area: bottom;
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    button {
      height: 4vh;
    }
  }
}

img {
  width: 100%;
  max-height: 30vh;
  object-fit: contain;
  grid-area: img;
}

.edit-post {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
  margin: 0;
  app-wysiwyg {
    grid-row: 1 / 2;
  }
  button[type='submit'] {
    grid-row: 3 / 3;
  }
}
