service firebase.storage {
  match /b/{bucket}/o {
    match /posts/{document=**} {
      allow read, write: if request.auth.uid != null;
    }
  }
}
