:host {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
