header {
  flex-direction: row;
  h1 {
    text-align: center;
  }
  .hider {
    display: block;
  }
  section.buttons {
    background: $headerBG;
    position: absolute;
    top: 10vh;
    right: 0;
    flex-direction: column;
    &.hidden {
      display: none;
    }
    & > * {
      margin: 0.5vh 1vw;
    }
    & > :first-child {
      margin-top: 1vh !important;
    }
    & > :last-child {
      margin-bottom: 1vh !important;
    }
  }
}

button {
  height: 4vh;
}

.shown {
  grid-template-areas:
    '. . .'
    '. image .'
    '. . .';
}
