header {
  flex-direction: row;
  h1 {
    text-align: left;
  }
  .hider {
    display: none;
  }
  section.buttons {
    flex-direction: row;
  }
}

.shown {
  grid-template-areas:
    '. image .'
    '. image .'
    '. image .';
}
