@import '../mixins/breakpoints.scss';

@include for-size(phone-only) {
  @import './scss/phone.scss';
}

@include for-size(tablet-portrait-up) {
  @import './scss/tablet-portrait.scss';
}

@include for-size(tablet-landscape-up) {
  @import './scss/tablet-landscape.scss';
}

@include for-size(desktop-up) {
  @import './scss/desktop.scss';
}

@include for-size(big-desktop-up) {
  @import './scss/big-desktop.scss';
}

:host {
  display: block;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

header {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  height: 10vh;
  top: 0;
  color: white;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  z-index: 999;
  a {
    text-decoration: none;
    &:hover {
      color: gainsboro;
    }
    &:active,
    &:visited {
      color: white;
    }
  }
}

.router {
  box-sizing: border-box;
  padding: 10vh 0 0 0;
  height: 100%;
}

section.buttons {
  display: flex;
}
// TODO: Make the background something like #262a2b
// TODO: Make a separate scss for storing colors

.shown {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  img {
    grid-area: image;
    width: 100%;
  }
}
