:host {
  display: block;
  height: fit-content;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  color: white;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  a {
    text-decoration: none;
    &:hover {
      color: gainsboro;
    }
    &:active, &:visited {
      color: white;
    }
  }
}

form {
  width: 50%;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

textarea, input[type="text"] {
  display: block;
  resize: none;
  width: 100%;
}
