<header>
  <h1><a [routerLink]="'/'">{{ title }}</a></h1>
  <section class="buttons">
    <button (click)="moveToTimeline()">Move to timeline (workaround)</button>
    <button (click)="moveToProfileEdit()">Move to profile</button>
    <button (click)="moveToCredits()">Move to credits</button>
    <ng-container *ngIf="isLoggedIn">
      <button *ngIf="showAdult" (click)="toggleShowAdult()">Switch to SFW</button>
      <button *ngIf="!showAdult" (click)="toggleShowAdult()">Switch to NSFW</button>
    </ng-container>
    <button *ngIf="isLoggedIn" (click)="logOut()">Log out</button>
  </section>
</header>
<router-outlet></router-outlet>
