<header>
  <h1><a [routerLink]="'/'">{{ title }}</a></h1>
  <button class="hider" (click)="hideButtons()">{{ buttonsHidden ? 'Show' : 'Hide' }} buttons</button>
  <section [ngClass]="['buttons', (buttonsHidden ? 'hidden' : '')]">
    <ng-container *ngIf="isLoggedIn">
      <app-badge *ngIf="userInfo" [img]="userInfo.photoURL">{{ userInfo.displayName }}</app-badge>
      <button *ngIf="showAdult" (click)="toggleShowAdult()">Switch to SFW</button>
      <button *ngIf="!showAdult" (click)="toggleShowAdult()">Switch to NSFW</button>
      <button (click)="logOut()">Log out</button>
    </ng-container>
  </section>
</header>
<div class="shown" *ngIf="showImg.isShown | async" (click)="showImg.setShown(false)">
  <img [src]="showImg.imagePath | async" alt="">
</div>
<div class="router">
  <router-outlet>
    <app-spinner *ngIf="loading"></app-spinner>
  </router-outlet>
</div>
