:host {
  grid-template-areas:
    'header header header header'
    '. image content .'
    '. image content .'
    '. newReply newReply .'
    '. replies replies .'
    '. error error .';
}
header {
  .postTitle {
    font-size: 2.3em;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
  .timestamp {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    grid-column: 2 / 2;
    grid-row: 3 / 4;
  }
  app-badge {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
}
