
<form [formGroup]="profileEdit" (ngSubmit)="onSubmit()" *ngIf="userData$ | async as userData">
  <main>
    <div [innerHTML]="profileEdit.value.bio | markdown" class="preview"></div>
    <textarea name="" id="" cols="30" rows="10" formControlName="bio"></textarea>
  </main>
  <aside>
    <header>
      <input type="text" [formGroup]="profileEdit" formControlName="displayName">
    </header>
    <section class="avatar">
      <img [src]="userData.photoURL" alt="">
    </section>
    <section class="recentPosts">
      <p *ngIf="status">{{ status }}</p>
      <h2>Here will appear some recent posts... soon enough</h2>
    </section>
    <button type="submit">Submit</button>
  </aside>
</form>