form {
  grid-template-areas:
    'aside aside'
    'main main'
    'main main';
}
aside {
  button {
    height: 5vh;
  }
}
main {
  grid-template-areas:
    'input'
    'preview';
  textarea {
    height: auto;
    margin: 1vh 0;
  }
}
