@import '../../../../../mixins/breakpoints.scss';
@import '../../../../../mixins/colorscheme.scss';

@include for-size(phone-only) {
  @import './scss/phone.scss';
}

@include for-size(tablet-portrait-up) {
  @import './scss/tablet-portrait.scss';
}

@include for-size(tablet-landscape-up) {
  @import './scss/tablet-landscape.scss';
}

@include for-size(desktop-up) {
  @import './scss/desktop.scss';
}

@include for-size(big-desktop-up) {
  @import './scss/big-desktop.scss';
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 500ms padding ease-in-out;
}

main {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: $loginBG;
  color: $loginFG;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    li {
      display: block;
      button {
        width: 100%;
        font-size: 1.3em;
      }
    }
  }
}
