$mainBG: gray;
$headerBG: black;
$headerFG: white;
$semitransparent: rgba(0, 0, 0, 0.25);
$badgeBG: gray;
$badgeFG: white;
$postHeaderBG: black;
$postHeaderFG: white;
$tableStripedBG: rgb(221, 221, 221);
$tableStripedFG: black;
$tableUnstripedFG: black;
$tableUnstripedBG: white;
$postListBG: rgba(75, 75, 75, 0.5);
