$mainBG: #262a2b;
$headerBG: black;
$headerFG: white;
$semitransparent: rgba(0, 0, 0, 0.25);
$badgeBG: gray;
$badgeFG: white;
$postBG: #272727;
$postFG: #ffffff;
$postHeaderBG: #1a1a1a;
$postHeaderFG: #ffffff;
$tableHeaderBG: rgb(36, 36, 36);
$tableHeaderFG: white;
$tableStripedBG: rgb(63, 63, 63);
$tableStripedFG: white;
$tableUnstripedBG: rgb(44, 44, 44);
$tableUnstripedFG: white;
$postListBG: rgba(75, 75, 75, 0.5);
$formBG: #272727;
$formFG: #ffffff;
$replyBG: #353535;
$replyFG: #ffffff;
$userInfoBG: #272727;
$userInfoFG: #ffffff;
$userHeaderFG: #ffffff;
$userAsideBG: #272727;
$userAsideFG: #ffffff;
$linkBG: #c2ffee;
