:host ::ng-deep {
  display: flex;
  height: fit-content;
  flex-direction: column;
  form {
    width: 100%;
    padding: 0em;
  }
  .posts {
    grid-area: posts;
    overflow-y: initial;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
}
