:host ::ng-deep {
  display: flex;
  height: fit-content;
  flex-direction: column;
  .posts {
    grid-area: posts;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 2vh 2vw;
  }
}
