<header>
  <h2>{{ post.title }}</h2>
  <app-badge [link]="post.postedBy" [img]="post.userData.userPhoto">{{ post.userData.userName }}</app-badge>
  <h3>Posted at: {{ post?.postedAt?.toDate() | date:'medium' }}</h3>
  <p *ngIf="post.isNSFW && !showNsfw">This post is not safe for work!</p>
  <div class="buttons" *ngIf="post.postedBy == userUID">
    <button (click)="deletePost()">Delete post</button>
  </div>
</header>
<img [src]="post.image" [alt]="post.title" *ngIf="post.image && showNsfw">
<img src="../../../assets/NSFW.webp" alt="" *ngIf="post.image && !showNsfw">
<div class="content" [innerHTML]="post.content | markdown"></div>
<div class="newReply">
  <button (click)="toggleIsReply()">Reply</button>
  <progress *ngIf="progress" [value]="progress || 0" max="100"></progress>
  <form [formGroup]="reply" (ngSubmit)="onSubmit()" #form *ngIf="isReply">
    <label>Content: <textarea name="" id="" cols="30" rows="10" formControlName="content"></textarea></label>
    <label>Unsuitable for children <input type="checkbox" formControlName="isNSFW"></label>
    <app-upload formControlName="image"></app-upload>
    <button type="submit">Send</button>
  </form>
</div>
<div class="replies">
  <h2>Replies: {{ post.commentCount }}</h2>
  <app-reply *ngFor="let reply of replies | async" [content]="reply"></app-reply>
</div>
<div class="error" *ngIf="error">
  <p>{{ error }}</p>
  <button (click)="closeError()">Close</button>
</div>
