@import '../../../mixins/breakpoints.scss';

@include for-size(phone-only) {
  @import './scss/phone.scss';
}

@include for-size(tablet-portrait-up) {
  @import './scss/tablet-portrait.scss';
}

@include for-size(tablet-landscape-up) {
  @import './scss/tablet-landscape.scss';
}

@include for-size(desktop-up) {
  @import './scss/desktop.scss';
}

@include for-size(big-desktop-up) {
  @import './scss/big-desktop.scss';
}

:host {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  margin: 2vh 0;
  gap: 1vh 1vw;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1vw 1fr 3fr 1vw;
}

:host.text {
  grid-template-areas:
    'header header header header'
    '. content content .'
    '. newReply newReply .'
    '. replies replies .'
    '. error error .';
}

.edit-post {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
  margin: 0;
  app-wysiwyg {
    grid-row: 1 / 2;
  }
  button[type='submit'] {
    grid-row: 3 / 3;
  }
}

app-image {
  grid-area: image;
  width: 100%;
  max-height: 30vh;
  object-fit: contain;
}

header {
  display: grid;
  grid-template-columns: 9fr auto;
  grid-template-rows: auto auto auto auto;
  gap: 1vh 1vw;
  grid-area: header;
  flex-direction: column;
  background: black;
  color: white;
  padding: 1em;
}

.content {
  grid-area: content;
}

.newReply {
  grid-area: newReply;
  .reply {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    form {
      grid-area: form;
    }
    .preview {
      grid-area: preview;
    }
  }
}

.replies {
  grid-area: replies;
}

.error {
  grid-area: error;
}
