html, body {
  height: fit-content;
  width: 100%;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: whitesmoke;
}

h1 {
  margin: 0;
}
