@import '../../../mixins/breakpoints.scss';

@include for-size(phone-only) {
  @import './scss/phone.scss';
}

@include for-size(tablet-portrait-up) {
  @import './scss/tablet-portrait.scss';
}

@include for-size(tablet-landscape-up) {
  @import './scss/tablet-landscape.scss';
}

@include for-size(desktop-up) {
  @import './scss/desktop.scss';
}

@include for-size(big-desktop-up) {
  @import './scss/big-desktop.scss';
}

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 3fr;
  column-gap: 1vw;
  width: 100%;
}

.content {
  grid-area: content;
}

.buttons {
  grid-area: buttons;
}

app-badge {
  grid-area: badge;
}

img {
  width: 100%;
  max-height: 30vh;
  object-fit: contain;
  grid-area: img;
}

.edit-post {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
  margin: 0;
  app-wysiwyg {
    grid-row: 1 / 2;
  }
  button[type='submit'] {
    grid-row: 3 / 3;
  }
}
