<app-image [fullimg]="img" [thumbnail]="thumb" [desc]="content.content" [nsfw]="content.isNSFW" *ngIf="thumb"></app-image>
<div *ngIf="!isEdit" class="content" [innerHTML]="content.content | markdown"></div>
<form [formGroup]="postEdit" (ngSubmit)="onSubmitEdit()" *ngIf="isEdit" class="edit-post">
  <app-wysiwyg formControlName="content"></app-wysiwyg>
  <button type="submit">Submit edit</button>
</form>
<section class="buttons" *ngIf="content.postedBy == userUID">
  <button (click)="deleteComment()">Delete reply</button>
  <button (click)="toggleIsEdit()">Edit reply</button>
</section>
<app-badge [ngClass]="content.userData.userName.length <= 6 ? 'short' : ''" *ngIf="content.userData.userPhoto" [img]="content.userData.userPhoto" [link]="content.postedBy">{{ content.userData.userName }}</app-badge>
