<img *ngIf="content.image && showNsfw" [src]="content.image" [alt]="content.content">
<img *ngIf="content.image && !showNsfw" src="../../../assets/NSFW.webp" alt="">
<div class="content" [innerHTML]="content.content | markdown"></div>
<div class="buttons" *ngIf="content.postedBy == userUID">
  <button (click)="deleteComment()">Delete reply</button>
</div>
<app-badge [img]="content.userData.userPhoto" [link]="content.postedBy">{{ content.userData.userName }}</app-badge>
<p>Posted at: {{ content.postedAt.seconds * 1000 | date:'medium' }}</p>
